.card {
    width: 150px;
    height: 225px;
    padding: 20px 15px;
    margin: 0 2px;
    border: 1px solid rgb(36, 27, 10);
    background-color: wheat;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    cursor: pointer;
    user-select: none;

    .title {
        margin: 0 auto;
        font-size: 14px;
        font-weight: bold;
    }
}