.gameStage {
    position: relative;
    display: flex;
    justify-content: space-between;

    .heroList {
        width: 30%;
    }

    .enemyList {
        right: 0;
    }

    .entityCard {
        width: 250px;
        height: 100px;
        padding: 20px 15px;
        border: 1px solid rgb(36, 27, 10);
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
        margin: 10px;
    }

    .entity {
        background-color: pink;
        font-size: 10px;
        cursor: pointer;
        padding: 10px;
        height: 100%;

        // Animations
        position: relative;
        top: 0;
        transition: top .1s;

        &:hover {
            top: -3px;
        }

        .highlight {
            margin: 0 auto;
            font-size: 12px;
            font-weight: bold;
        }
    }

    .hero {
        background-color: lightgreen;
    }
}
