.gameStage {
    display: flex;
    flex-grow: 3;

    .heroList {
        width: 30%;
    }

    .enemyList {
        position: absolute;
        right: 0;
    }

    .entity {
        width: 250px;
        height: 100px;
        padding: 20px 15px;
        border: 1px solid rgb(36, 27, 10);
        background-color: pink;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
        font-size: 12px;
        margin: 10px;
        cursor: pointer;

        // Animations
        position: relative;
        top: 0;
        transition: top .1s;

        &:hover {
            top: -3px;
        }

        .highlight {
            margin: 0 auto;
            font-size: 14px;
            font-weight: bold;
        }
    }

    .hero {
        background-color: lightgreen;
        margin: 10px;
    }
}
