.gameView {
}

.heroHp {
    background: pink;
    font-size: 20px;
}

.gameStage {
    height: 500px;
    display: flex;
    background: #A3A3A3;
}

.heroList {
    width: 30%;
}

.enemyList {
    width: 30%;
}

.enemy {
    margin: 20px 0;
}

.playCard {
    padding: 20px;
    width: 200px;
    height: 150px;
    background: burlywood;
    cursor: pointer;
}

.endTurn {
    padding: 20px;
    width: 200px;
    height: 150px;
    background: skyblue;
    cursor: pointer;
}