.gameView {
}

.heroHp {
    background: pink;
    font-size: 20px;
}

.gameStage {
    height: 500px;
    background: #A3A3A3;
}

.playCard {
    width: 200px;
    height: 150px;
    background: burlywood;
    cursor: pointer;
}